<h1>Juego de Amigo Invisible</h1>
<h3>Bienvenido!</h3>

<p><strong>Fecha: {{ miFecha | date: "dd/MM/YYYY" }}</strong></p>

<ng-container *ngIf="contactoSeleccionado; else noSeleccionado">

  <h4>Amigo Invisible es : {{ contactoSeleccionado.name.first }}</h4>

</ng-container>

<ng-template #noSeleccionado>
   <div>
      <p>Seleccionar algun amigo Invisible</p>
   </div>
</ng-template>

<button mat-raised-button color="primary" (click)="navegarAContacts()">Ver tus contactos</button> <br/>

<div>
  <p>Filtros</p>
  <a [routerLink]="['/contacts']" [queryParams]="{sexo: 'female'}">Amigas |</a>
  <a [routerLink]="['/contacts']" [queryParams]="{sexo: 'male'}">| Amigos</a>

</div>

<div>
  <p>Mostrar Usuarios Random</p> <br/>
  <a [routerLink]="['/random']">Usuarios Random</a>
</div>


<div *ngIf="contactorandomseleccionado">
     <app-randomuser-details [randomContact]="contactorandomseleccionado"></app-randomuser-details>
</div>




