<h1>Tus contactos ====> :</h1>

<!-- Listar los contactos-->

<div *ngFor="let contacto of listaRandomContact; let i=index">

   <div routerLink="{{contacto.id.name}}" [state]="{data: contacto, filtro: filtroSexo}" >
      <h6 class="lista_contacto">{{ contacto.name.first }}</h6>
      <h6 class="lista_contacto">{{ contacto.name.last }}</h6>
   </div>

   <button mat-raised-button color="primary" (click)="regresarAHome(contacto)">Enviar Contacto y Regresar a Home</button>


</div>

<mat-spinner></mat-spinner>

<ng-container *ngIf="filtroSexo == 'female' || filtroSexo == 'male' ;else elseTemplate">

  <p>Mostrando la lista filtrada</p>
  <p>Mostrando amigos filtrado por : {{ filtroSexo }}</p>

</ng-container>

<ng-template #elseTemplate>
  <p>Mostrando la lista de Contactos completo</p>

</ng-template>

<a *ngIf="token" routerLink="/home">Volver</a>




