<!-- Montamos el login form-->

<mat-card>

  <!-- Cabecera-->
  <mat-card-header>
    <mat-card-title>
      Login

    </mat-card-title>
    <mat-card-subtitle>
      Accede a tu cuenta
    </mat-card-subtitle>
  </mat-card-header>

  <!-- Contenido-->
  <mat-card-content>
     <!-- Formulario de Login-->
     <form [formGroup]="loginForm" (submit)="submitLogin()">

      <!-- Email-->
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email">
          <mat-icon matSuffix>satisfied</mat-icon>
          <mat-hint>Hint</mat-hint>
          <mat-error *ngIf="email?.errors?.['required'] && email?.touched">
            El campo email es obligatorio
          </mat-error>
          <mat-error *ngIf="email?.errors?.['email'] && email?.touched">
            El formato del email no es valido
          </mat-error>
        </mat-form-field>
      </p>

      <!-- Password-->
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input type="password" matInput placeholder="Password" formControlName="password">
          <mat-icon matSuffix>satisfied</mat-icon>
          <mat-hint>Hint</mat-hint>
          <mat-error *ngIf="password?.errors?.['required'] && password?.touched">
            El campo password es obligatorio
          </mat-error>

        </mat-form-field>
      </p>

      <!-- Boton para hacer el submit del Formulario-->
      <section>
        <div class="example-label">Raised</div>
        <div class="example-button-row">
          <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Login</button>

        </div>
      </section>






     </form>

  </mat-card-content>






</mat-card>
