:host{
  display: flex;
  justify-content: center;
  margin: 100px 0px;

}

// Modificar los estilos de card
mat-card{
  max-width: 400px;
  margin: 2em auto;
  text-align: center;

}

mat-card-header{
  display: unset;

}

mat-card-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// Modificamos los estilos de los campos de los formularios
mat-form-field{
  display: block;
  min-width: 300px;
  width: 100%;

}
