
<div class="example-container">
  <h2>Pendientes</h2>

    <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todoTasks"
       [cdkDropListConnectedTo]="[doneList]" class="list" (cdkDropListDropped)="drop($event)">

      <ng-container *ngIf="todoTasks.length === 0">
        <h4 class="msg-enhorabuena">En horabuena!!! No tienes tareas Pendientes, puedes irte a casa </h4>
      </ng-container>

      <div [ngClass]="{'completed-task': task.completed}" class="list-item" *ngFor="let task of todoTasks" cdkDrag>
        <app-task [task]="task"></app-task>

        <!--
        <div [ngClass]="{'info-task': task.level === 0, 'urgent-task': task.level === 1, 'blocking-task': task.level === 2}">
          <h5>{{task.title}}</h5>
          <h6>{{task.description}}</h6>
        </div>

      -->
      </div>
    </div>



</div>


<div class="example-container">
  <h2>Completadas</h2>

    <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="doneTasks"
        [cdkDropListConnectedTo]="[todoList]" class="list" (cdkDropListDropped)="drop($event)">

        <ng-container *ngIf="doneTasks.length === 0">
          <h4 class="msg-trabajar">No tienes tareas completadas!!!. Ponte las pilas</h4>
        </ng-container>

      <div [ngClass]="{'completed-task': task.completed}" class="list-item" *ngFor="let task of doneTasks" cdkDrag>
        <app-task [task]="task"></app-task>
        <!--
        <div [ngClass]="{'info-task': task.level === 0, 'urgent-task': task.level === 1, 'blocking-task': task.level === 2}">
          <h5>{{task.title}}</h5>
          <h6>{{task.description}}</h6>
        </div>
      -->
      </div>
    </div>


</div>
